@charset "UTF-8";

/* index.html ------------------------- */
html {
    background: #506266;
    background-image: url(images/20190802-19-34-02-DSC01396-dev.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

header {
    display: flex;
    margin: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: #BDE038 6px solid;
}

#header-menu {
    display: flex;
    margin-left: 20px;
    padding-top: 8px;
    font-size: 20px;
}

header a {
    margin: 15px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: #BDE038;
}

#main {
    display: flex;
    margin: 30px 40px 0 40px;
}

.title {
    display: flex;
}

h1 {
    margin: 10px 30px;
    padding: 7px;
    color: #BDE038;
    font-weight: 400;
}

#site-name {
    color: #BDE038;
}

h2 {
    color: #0bd;
    font-size: 30px;
    font-weight: 300;
}

form {
    margin: 15px 20px 0;
    font-weight: 300;
}

#timeTable {
    margin: 0 0 0;
    background: #10454F;
    text-align: center;
    border-style: none;
    border-collapse: collapse;
}

#timeTable th {
    margin: 0;
    padding: 0 3px 0;
    border-style: solid;
    border-color: lightslategray;
}

#timeTable td {
    font-size: 12px;
    margin: 0;
    border-color: lightslategray;
}

#timeTable tr {
    margin: 0;
}

#timeTable .class {
    width: 90px;
    height: 75px;
    border-style: solid solid none solid;
}

#timeTable .room {
    height: 20px;
    font-weight: bold;
    color: #000;
    background-color: #0bd;
    border-style: none solid solid solid;
}

/* links.html---------------------------------------- */
#site-link,
#picture-link {
    margin-bottom: 50px;
    width: 600px;
}

.links p {
    margin: 40px 0;
}

#site-link a,
#picture-link a {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    background-color: #506266;
    border-radius: 5px;
}

#site-link a:hover,
#picture-link a:hover {
    color: #BDE038;
}

.links {
    margin-top: 20px;
}

/* スマートフォン版--------------------------------- */
@media (max-width: 600px) {
    html {
        height: 100vh;
    }
    header {
        flex-direction: column;
        border-bottom: #BDE038 4px solid;
    }
    header h1 {
        text-align: center;
        margin: 4px auto auto;
        padding: 0;
    }
    #site-name {
        margin: auto;
        padding: 0 0 0 0;
    }
    #header-menu {
        margin: 0;
        padding: 0 0 4px 0;
    }
    #header-menu a {
        margin: auto;
        padding: 0;
        font-size: 21px;
    }
    #main {
        margin: 20px;
        flex-direction: column;
    }
    /* index.html--------------------------------- */

    /* links.html--------------------------------- */
    #site-link,
    #picture-link {
        margin-bottom: 30px;
        width: auto;
    }
    #site-link a,
    #picture-link a {
        margin: auto;
    }
    .links {
        margin: auto;
    }
    .links p {
        margin: 30px 0;
    }
}